/* Reset some default styling */
body, h2, ul, li {
    margin: 0;
    padding: 0;
    
  }
  
  /* Basic styling */
 .header {
    background-color: #dcbb02;
     color: #fff;
    padding: 1rem;
    text-align: center;
  }
  .header h1{
   
     color: black;
    
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 1rem;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #fff;
  }
  
  .hero {
    background-color: black;
    background-size: cover;
    background-position: center;
    color: #f1e9e9;
    text-align: center;       
    padding: 5rem 0;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
   
  }

  .hero-content p,h1{
    color: #fff;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
    background-color: black;
  }
  
  .feature {
    text-align: center;
  }

  
.feature h2,p {
  color:#fff;
}
  
  .footer {
    background-color: #dcbb02;
    color: #dcbb02;
    text-align: center;
    padding: 1rem 0;
  }
  .footer p {
    color:black;
  }